@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
    var image = Model.Value<IPublishedContent>("image");
}

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col"><h2>@Model.Value("articleItem")</h2>
                @Model.Value("articleContent")</div>
            <div class ="col"><img src="@image.Url" width="200" height="350" alt="@Model.Value("Name") image" /></div> 
        </div>
    </div>
</section>