@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}


<!-- Banner -->
<section id="banner">
    <i class="icon fa-diamond"></i>
    <h2>@Model.Value("pageTitle")</h2>
    <p>@Model.Value("bodyText")</p>
    <ul class="actions">
        @* <li><a href="#" class="button big special">Learn More</a></li> *@
    </ul>
</section>

<!-- One -->
<section id="one" class="wrapper style1">
    <div class="inner">
        <article class="feature left">
            <span class="image">
                <img src="images/pic01.jpg" alt=""/>
            </span>
            <div class="content">
                <h2>@Model.Value("contactPageTitle")</h2>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                <ul class="actions">
                    <li>
                        <a href="/contact-us" class="button alt">Contact us</a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="feature right">
            <span class="image">
                <img src="images/pic02.jpg" alt=""/>
            </span>
            <div class="content">
                <h2>Look at our products</h2>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                <ul class="actions">
                    <li>
                        <a href="/articles" class="button alt">Products</a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</section>

@Html.Partial("_latestNews");