@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Login>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<section id="main" class="wrapper">
<div class="container">

    <header class="major special">
        <h2>@Model.Value("PageTitle")</h2>

    </header>
    <div>
        @{
            Html.RenderAction("RenderLogin", "Member");
        }
    </div>
</div>
</section>
