@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SimpleContentPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
            <h2>@Model.Value("pageTitle")</h2>

        </header>

        <a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>
        @Model.Value("bodyText")
    </div>
   <div class="form" "col-md-6">
               @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="9810ced9-384f-484f-8237-dcab6fe83276", FormTheme="bootstrap3-horizontal", ExcludeScripts="0"})
            </div>
</section>