<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="08f2dbf5-979d-4830-b823-ab0573f86794" Alias="articlesMain" Level="1">
  <Info>
    <Name>Articles Main</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ArticlesMain</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e533df56-fc6c-445a-b71b-1586fbb27c38">ArticlesMain</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4fb339bf-2937-4cfe-bdea-d1bcfb219007" SortOrder="0">articlesItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>53514ac9-810c-493a-ad55-66556ea15fee</Key>
      <Name>Articles Body Text</Name>
      <Alias>articlesBodyText</Alias>
      <Definition>858480d9-d32c-4c05-bf5a-ca526e1994b2</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Intro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>9e3bae8f-011b-4870-ae6a-30aaa6ce37f7</Key>
      <Name>Articles Title</Name>
      <Alias>articlesTitle</Alias>
      <Definition>507fa922-b98b-4264-9a8c-f4806ec396ed</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Intro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Intro</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>