<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4fb339bf-2937-4cfe-bdea-d1bcfb219007" Alias="articlesItem" Level="1">
  <Info>
    <Name>Articles Item</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ArticlesItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8aefd89a-89d3-4844-a257-2974073a78ed">ArticlesItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e4df0f7e-8f72-406c-9e22-b5ced2453e28</Key>
      <Name>Article Content</Name>
      <Alias>articleContent</Alias>
      <Definition>fb1bbcfc-399e-4237-97bf-eff33da937f2</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>2816546e-6a4b-4c3d-9be6-0bb010ad3d47</Key>
      <Name>Article Item</Name>
      <Alias>articleItem</Alias>
      <Definition>c5dfd6e6-9fac-4517-b810-fa43c9f4aba5</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>35ba244e-8681-496e-9ef6-718d9adc62a8</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>