<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="da4f8dbe-c0d9-41f6-af55-ea4a783747c0" Alias="homePage" Level="1">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>My homepage template</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="803dace0-f2bb-4506-a77e-412e7c507b3d">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="256b2b21-df55-45e3-9f3c-b6957e28faed" SortOrder="0">simpleContentPage</ContentType>
    <ContentType Key="08f2dbf5-979d-4830-b823-ab0573f86794" SortOrder="1">articlesMain</ContentType>
    <ContentType Key="541e96d6-74ce-43c0-813b-21027e9222ea" SortOrder="2">register</ContentType>
    <ContentType Key="1af74a84-f676-4a7f-bebd-22652d06f548" SortOrder="3">membersOnlyError</ContentType>
    <ContentType Key="a688142e-30b0-49ef-a53c-a8e0dc3d73a1" SortOrder="4">login</ContentType>
    <ContentType Key="f25aa1e9-ac96-4f49-aaac-c326a4f0f04e" SortOrder="5">newsArticles</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>79a357eb-6c82-4738-ae15-85b00371b963</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main content on the page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>9c094a60-52d2-4934-bc7c-271b5cc8eb06</Key>
      <Name>Footer Text</Name>
      <Alias>footerText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Copyright and stuff]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>c640c9aa-2d47-4f17-8823-a3badbc1c56e</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main title of the page (e.g. Welcome to Nilles Ltd)"]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>