<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f25aa1e9-ac96-4f49-aaac-c326a4f0f04e" Alias="newsArticles" Level="1">
  <Info>
    <Name>News Articles</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>NewsArticles</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="977e098c-d432-448b-869d-ecd995d0803e">NewsArticles</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="42a79553-db30-49fd-8810-8335f0136550" SortOrder="0">newsArticle</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>