<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cfcc8250-b773-4d86-8485-f91fd26e54ff" Alias="product" Level="1">
  <Info>
    <Name>Product</Name>
    <Icon>icon-coin-dollar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Product</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="38d475b5-88d3-45bd-bd10-839bb6f135dd">Product</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4b7ad844-69e7-4248-bf7f-b79c9c22467f</Key>
      <Name>Product Content</Name>
      <Alias>productContent</Alias>
      <Definition>8972892b-1745-45fd-9d9a-5268b5ee6f7d</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>21acc822-2317-495f-95a8-a7f8ae000bdd</Key>
      <Name>Product Image</Name>
      <Alias>productImage</Alias>
      <Definition>9779ca47-9285-4e10-b57f-a86f6aca6839</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>6a006887-1eef-49e8-ac15-0cc60d31742b</Key>
      <Name>productName</Name>
      <Alias>productName</Alias>
      <Definition>973b0cde-2437-424a-b8f6-6b2d5eda3cc2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>