<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="256b2b21-df55-45e3-9f3c-b6957e28faed" Alias="simpleContentPage" Level="1">
  <Info>
    <Name>Simple Content Page</Name>
    <Icon>icon-umb-content color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>SimpleContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5c6b6d05-7368-4137-8327-639844b8de17">SimpleContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3ea0b59f-b22e-4eb1-9225-6fe02a359455</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>0a2a207a-0f9a-4354-b7fa-1165bfaa2515</Key>
      <Name>Page Title</Name>
      <Alias>contactPageTitle</Alias>
      <Definition>9e49ad38-7217-4d63-9f4b-7050d4ab7bec</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>f2329018-6f1e-4ad4-8fbb-3ffb11d90568</Key>
      <Name>Contact Form</Name>
      <Alias>form</Alias>
      <Definition>1f9bfa3e-d73e-4f85-9efc-6ed6a14496b1</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>