<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61373e68-18a6-491e-a66a-aa9291de0fde" Alias="Articles Item - Articles Item - Textbox" Level="1">
  <Info>
    <Name>Articles Item - Articles Item - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>