<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5dfd6e6-9fac-4517-b810-fa43c9f4aba5" Alias="Articles Item - Article Item - Textbox" Level="1">
  <Info>
    <Name>Articles Item - Article Item - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>