<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7801e467-be0a-40b1-9889-07b1390d7d30" Alias="MembersOnlyError - Umbraco Navi Hide - Toggle" Level="1">
  <Info>
    <Name>MembersOnlyError - Umbraco Navi Hide - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>