<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9cc3b73-3d44-4ff6-b888-3443dc88c1dc" Alias="MembersOnlyError - Body Text - Textbox" Level="1">
  <Info>
    <Name>MembersOnlyError - Body Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>