<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58f2f2b4-205a-4518-8160-6bdf279a5d1e" Alias="MembersOnlyError - Umbraco Navi Hide - Toggle (1)" Level="1">
  <Info>
    <Name>MembersOnlyError - Umbraco Navi Hide - Toggle (1)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>