<?xml version="1.0" encoding="utf-8"?>
<DataType Key="826f1fa9-9213-4975-8eec-cbcd9ad2f2bd" Alias="News Article - Author - Textbox" Level="1">
  <Info>
    <Name>News Article - Author - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>