<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e077549-e58e-4bba-a9ac-be35031f50a9" Alias="News Article - Image Cropper" Level="1">
  <Info>
    <Name>News Article - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Thumbnail",
      "width": 240,
      "height": 200
    },
    {
      "alias": "Main",
      "width": 1040,
      "height": 680
    }
  ]
}]]></Config>
</DataType>