<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a117cb6f-8ce0-4e92-ba05-c94a90435d24" Alias="News Article - News Categories - Tags" Level="1">
  <Info>
    <Name>News Article - News Categories - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>