<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9779ca47-9285-4e10-b57f-a86f6aca6839" Alias="Product - Product Image - Media Picker" Level="1">
  <Info>
    <Name>Product - Product Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>