<?xml version="1.0" encoding="utf-8"?>
<DataType Key="973b0cde-2437-424a-b8f6-6b2d5eda3cc2" Alias="Product - productName - Textbox" Level="1">
  <Info>
    <Name>Product - productName - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>