<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e49ad38-7217-4d63-9f4b-7050d4ab7bec" Alias="Simple Content Page - Page Title - Textbox" Level="1">
  <Info>
    <Name>Simple Content Page - Page Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>