<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f9bfa3e-d73e-4f85-9efc-6ed6a14496b1" Alias="Simple Content Page - Form Picker" Level="1">
  <Info>
    <Name>Simple Content Page - Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowedForms": [
    "9810ced9-384f-484f-8237-dcab6fe83276"
  ]
}]]></Config>
</DataType>